/* ======== Responsive: Index.html ======== */
@media screen and (min-width: 640px) {
  #resp-tablists {
    display: flex;
    width: 96%;
    margin: 0 2%;
  }
  .filter-options select {
    width: 95%;
    margin: 0 0 10px 0;
  }
  .filter-options select:first-child {
    margin: 0 10px 0 0;
  }
}
@media (min-width: 640px) and (max-width: 929px) {
  #restaurants-list li {
    max-width: 48%;
  }
}
@media (min-width: 930px) {
  #restaurants-list li {
    max-width: 32%;
  }
}